//========================//
//  Rena Romano | Footer  //
//========================//

.site-footer {
	padding: 25px;
    background: $primary-darker;
    color: $white;
	line-height: 22px;

    a:hover {
        color: $primary;
    }

    span {
        color: $gray;

        a {
            color: $gray;
			padding-bottom: 1px;
			border-bottom: 2px solid $primary-darkest;

			&.jordanpak {
				color: $white;

				&:hover {
					color: $white;
				}

			} // &.jordanpak

			&:hover {
				color: $gray;
				border-bottom-color: $white;
			}

        } // a

    } // span

} // .site-footer
