//=========================-==//
//  Rena Romano | Navigation  //
//============================//


// Global Genesis Nav
.genesis-nav-menu {

    font-size: 1em;
    
    a {
        color: #333;
        display: block;
        padding: 30px 24px;
        font-weight: 700;
    }

} // .genesis-nav-menu
