//=============================//
//  Rena Romano | Site Header  //
//=============================//

.site-header {
	margin-bottom: 40px;
    min-height: 0;
    background: $white;
    box-shadow: 0 1px 20px rgba( $accent-pri, 0.4 );

	@include breakpoint( xs ) {
		margin-bottom: 30px;
	}

	@include breakpoint( xxs ) {
		margin-bottom: 12px;
	}

    .wrap {
        position: relative;
        padding: 15px 0;

		@include breakpoint( med ) {
			padding: 15px 0 0 0;
		}

        @include breakpoint( sm ) {
			padding: 15px 0;
        }

    } // .wrap

} // .site-header

.title-area {
    width: 276px;

	@include breakpoint( xxs ) {
		width: 66%;
	}

} // .title-area

.header-image {

    .site-title > a {
        min-height: 63px;
        width: 100%;

        @include breakpoint( med-lg ) {
            background-position: center;
        }

        @include breakpoint( sm ) {
			background-image: url('images/logo-2x.png');
        	background-size: contain;
            background-position: left;
        }

    } // .site-title > a

} // .header-image

.header-contact {
	float: right;

	@include breakpoint( med ) {
		padding-top: 12px;
	}

	@include breakpoint( sm ) {
		float: none;
		width: 100%;
		padding: 0;
		text-align: center;
	}

	@include breakpoint( xs ) {
		margin-bottom: 10px;
	}

    .widget-area {
        display: inline-block;
        float: none;
        width: auto;
        text-align: inherit;
    }

    .header-contact-phone {
        display: inline-block;
		position: relative;
		top: -9px;
        margin: 0 0 0 10px;
        padding: 6px 12px;
        color: $white;
        font-size: 14px;
        font-weight: 700;
		line-height: 14px;
		border-radius: 4px;
		background: $primary;

        @include transition-ease-in-out;

		&:hover {
			background: $secondary;
		} // &:hover


    } // .header-contact-phone


    .simple-social-icons ul li {
        margin: 0 !important;

        a {
			margin-left: 6px;
			padding: 6px;
            background: $gray-light !important;
			border-radius: 4px;
            color: $gray !important;
			font-size: 14px;

            &:hover {
				margin-left: 6px;
				padding: 6px;
	            background: $primary !important;
				border-radius: 4px;
	            color: $white !important;
				font-size: 14px;
            }

        } // a

    } // .simple-social-icons ul li

} // .header-contact


.site-header .header-widget-area {

    @include breakpoint( med ) {
        clear: both;
        width: 100%;
		text-align: left;
    }

    @include breakpoint( sm ) {
        display: none;
    }

} // .header-widget-area
