//=============================//
//  Rena Romano | Site Header  //
//=============================//

#header-bg {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: $header-bg-lg;
    background: $primary url( 'images/header-bg.jpg' );
    background-position: center;
}

.site-header {
    min-height: 0;
    background: none;

    .wrap {
        position: relative;
        padding: $space-default 0 12px 0;
    }

} // .site-header

.title-area {
    width: 380px;
} // .title-area

.header-image {

    .site-title > a {
        min-height: 80px;
        width: 100%;
    }

} // .header-image

.header-contact {
    position: absolute;
    top: 0;
    right: 0;

    .widget-area {
        display: inline-block;
        float: left;
        width: auto;
        text-align: inherit;
    }

    .header-contact-phone {
        display: inline-block;
        margin: 0 0 0 10px;
        padding: 5px 10px;
        border-top: 2px solid $white; //none;
        color: $white;
        font-size: 16px;
        font-weight: 700;
        cursor: default;

        @include transition-ease-in-out;

        &:hover {
            padding: 8px 15px;
            background: linear-gradient( rgba(255,255,255,0.3), rgba(0,0,0,0) );
            border-top: 4px solid $white;
            color: $white;
            font-size: 18px;
        }

    } // .header-contact-phone


    .simple-social-icons ul li {
        margin: 0 !important;

        a {
            color: $white !important;
            background: none !important;

            &:hover {
                color: $primary !important;
                background: $white !important;
            }

        } // a

    } // .simple-social-icons ul li

} // .header-contact


.header-widget-area {

    @include breakpoint( medium ) {
        clear: both;
        margin-top: $space-default + $space-default-half;
        width: 100%;
    }

} // .header-widget-area
