//===========================//
//  Rena Romano | Structure  //
//===========================//

body {
	background: url('images/page-bg.jpg') no-repeat top center $primary-dark;
}


//-- SITE-INNER & WRAP --//
.site-inner, .wrap {
    padding: 0;

    @include breakpoint( xl ) {
        max-width: $bp-xl-wrap;
    }
    @include breakpoint( lg ) {
        max-width: $bp-lg-wrap;
    }
    @include breakpoint( med-lg ) {
        max-width: $bp-med-lg-wrap;
    }
    @include breakpoint( med ) {
        max-width: $bp-med-wrap;
    }
    @include breakpoint( sm ) {
        width: $bp-sm-wrap;
    }
	@include breakpoint( xs ) {
		width: $bp-xs-wrap;
	}
	@include breakpoint( xxs ) {
		width: $bp-xxs-wrap;
	}

} // .site-inner, .wrap


.content .entry, .sidebar .widget {
}

.content .entry {

    @include breakpoint( sm ) {
        padding: $space-default;
    }

    @include breakpoint( xs ) {
        padding: $space-default-middle;
    }

} // .content .entry

.post-type-archive-product { // Body class

    main.content {
        padding: $space-default;
        background: $white;
        border: 8px solid $gray-light;
    } // main.content

} // .full-width-content
