//===========================//
//  Rena Romano | Structure  //
//===========================//


//---------------//
//  SITE HEADER  //
//---------------//

.title-area {
    width: 380px;
} // .title-area

.header-image {

    .site-title > a {
        min-height: 80px;
        width: 100%;
    }

} // .header-image