//===========================//
//  Rena Romano | Structure  //
//===========================//

body {
	background: url('images/page-bg.jpg') no-repeat top center $primary-dark;
}

.site-inner {
    padding-top: 0;

    @include breakpoint( xs ) {
        padding-left: 2%;
        padding-right: 2%;
    }

} // .site-inner

.content .entry, .sidebar .widget {
}

.content .entry {

    @include breakpoint( sm ) {
        padding: $space-default;
    }

    @include breakpoint( xs ) {
        padding: $space-default-middle;
    }

} // .content .entry

.post-type-archive-product { // Body class

    main.content {
        padding: $space-default;
        background: $white;
        border: 8px solid $gray-light;
    } // main.content

} // .full-width-content
