//============================//
//  Rena Romano | Typography  //
//============================//


//--------//
//  BODY  //
//--------//

body {
    font-size: 18px;
    font-weight: 400;
    background: $white;
} // body



//----------------------//
//  HEADINGS & HEADERS  //
//----------------------//

.entry-title {
    font-weight: 700;
    font-size: 1.66em;

    a:hover {
        color: $primary;   
    }
    
} // .entry-title



//-----------//
//  ANCHORS  //
//-----------//

a {
    color: $primary;
} // a
