//============================//
//  Rena Romano | Typography  //
//============================//


//----------------------//
//  HEADINGS & HEADERS  //
//----------------------//

.entry-title {

    a:hover {
        color: $blue;   
    }
    
} // .entry-title



//-----------//
//  ANCHORS  //
//-----------//

a {
    color: $blue;
} // a
