//============================//
//  Rena Romano | Typography  //
//============================//


//--------//
//  BODY  //
//--------//

body {
    font-size: 18px;
} // body



//----------------------//
//  HEADINGS & HEADERS  //
//----------------------//

.entry-title {

    a:hover {
        color: $blue;   
    }
    
} // .entry-title



//-----------//
//  ANCHORS  //
//-----------//

a {
    color: $blue;
} // a
