//===========================//
//  Rena Romano | Variables  //
//===========================//


//==========//
//  COLORS  //
//==========//

//-- BASIC --// 
$white:         #FFFFFF;
$black:         #000000;


//-- PRIMARY --//

// Blue
$blue:          #00577d;


// Gold
$gold:          #ae8b5b;
$gold-light:    #eecc99;
$gold-dark:     #a58153;


// Red
$red:           #752121;


//-- SUPPORT --//

// Gray
$gray-light:    #f5f5f5;
$gray-dark:     #333333;


//-- TRANSPARENCIES --//
$trans-full:        rgba(0,0,0,0);
$trans-shadow:      rgba(0,0,0,0.175);


//-- DEFAULTS --//
$body-text:         #333333;



//===========//
//  SPACING  //
//===========//

$space-default:         40px;
$space-default-half:    $space-default / 2;
$space-default-middle:  $space-default-half + ($space-default-half / 2);
