//===========================//
//  Rena Romano | Variables  //
//===========================//


//==========//
//  COLORS  //
//==========//

//-- BASIC --// 
$white:             #FFFFFF;
$black:             #000000;


//-- PRIMARY --//

// Gold



//-- SUPPORT --//

// Gray
//$gray: ;



//-- TRANSPARENCIES --//
$trans-full:        rgba(0,0,0,0);
$trans-shadow:      rgba(0,0,0,0.175);


//-- DEFAULTS --//
$body-text:         #333333;
