//===========================//
//  Rena Romano | Variables  //
//===========================//


//==========//
//  COLORS  //
//==========//

//-- BASIC --//
$white:         #FFFFFF;
$black:         #000000;


//-- PRIMARY --//
$primary:           #00567c;
$primary-bg:		#014b6e;


//-- SECONDARY --//
$secondary:    		#d0ae7c;
$secondary-dark:	#a78455;


//-- SUPPORT --//
$gray:          #a7a9ae;
$gray-light:    #f5f5f5;
$gray-dark:     #292929;

// WooCommerce Colors
$wc-green:      #77a464;


//-- TRANSPARENCIES --//
$trans-full:        rgba(0,0,0,0);
$trans-shadow:      rgba(0,0,0,0.175);


//-- DEFAULTS --//
$body-text:         #333333;



//===========//
//  SPACING  //
//===========//

$space-default:         40px;
$space-default-half:    $space-default / 2;
$space-default-middle:  $space-default-half + ($space-default-half / 2);



//====================//
//  WIDTHS / HEIGHTS  //
//====================//

$header-bg-lg:   320px;


// Header (.site-header)
$site-header-width-mobile:  260px;
// $site-header-mobile-height: 70px;
