//=========================//
//  Rena Romano | Widgets  //
//=========================//

.widget {
    
    &.user-profile {
    }
    
    .widget-title {
        font-weight: 700;
        font-size: 1.5em;
//        color: $white;
    }
    
} // .widget


.enews-widget {
    text-align: center;
    
    .widget-title {
        font-size: 2.66em;
        font-weight: 400;
    }
    
    p {
        font-size: 18px;
        color: $primary;
        font-style: italic;
        text-shadow: 1px 1px $black;
    }
    
    input[type="submit"] {
        background: $primary;
        font-weight: 700;
    }
    
} // .enews-widget

.gcta-wrap {
    
    border: 8px solid $gray-light;
    border-bottom: 0;
    box-shadow: inset 0 -8px $white;
    
    .widget-title strong {
        border-color: $primary !important;   
    }
    
    .gcta-button {
        
        &:hover {
            background: $primary !important;
            border-color: $primary !important;
        }
        
    } // .gcta-button
    
} // gcta-wrap