//=========================//
//  Rena Romano | Widgets  //
//=========================//

.widget {
    
    &.user-profile {
        background: $secondary;
        color: $white;
        font-size: 18px;
        text-shadow: 1px 1px rgba(0,0,0,0.15);
    }
    
    .widget-title {
        font-weight: 700;
        font-size: 1.5em;
        color: $white;
    }
    
} // .widget


.enews-widget {
    text-align: center;
    
    .widget-title {
        font-size: 2.2em;
    }
    
    p {
        font-size: 18px;
        color: $primary;
        font-style: italic;
        text-shadow: 1px 1px $black;
    }
    
    input[type="submit"] {
        background: $primary;
        font-weight: 700;
    }
    
} // .enews-widget