//==========================-==//
//  Rena Romano | WooCommerce  //
//=============================//

.woocommerce { // Body Class


	// PRODUCT SINGLE //
	div.product {
		margin-bottom: 40px !important;

		p.price {

			ins {
				color: $wc-red;
				text-decoration: none;
			}

		} // p.price

		div.summary {

			ol, ul {
				padding: 0 0 0 40px;
			}

			li {
				list-style-type: disc;
			}

			.sku_wrapper {
				display: none;
			}

		} // div.summary

		form.cart .variations {
			margin-top: 3em;

			label {
				font-size: 24px;
			}

		} // form.cart .variations

	} // div.product

    .product_title {
        padding-bottom: $space-default !important;
        text-align: left !important;

        @include breakpoint( med ) {
            font-size: 42px;
        }

        @include breakpoint( sm ) {
            text-align: center !important;
        }

    } // .product_title

    .price {
        font-size: 24px !important;
        font-weight: 700 !important;
        text-align: left !important;

        @include breakpoint( sm ) {
            text-align: center !important;
        }

    } // .price


	// PRODUCTS LISTING ("SHOP") //
    ul.products {
		padding: 50px 60px !important;

        li.product {
            border: none;
            text-align: center;

            h3 {
				margin-bottom: 0 !important;
				padding-bottom: 5px !important;
                font-size: 22px !important;
                font-weight: 400;
				color: $body-text;
				letter-spacing: -0.033em;
            }

            .price {
				font-size: 18px !important;
                text-align: center !important;
				color: $black !important;
				font-weight: 700 !important;

				ins {
					color: $wc-red !important;
					text-decoration: none !important;
				}

            } // .price

        } // li.product

        .added_to_cart.wc-forward {
            display: inline-block !important;
            box-sizing: border-box !important;
            padding: 8px 13px !important;
            border: 2px solid $wc-green;
            text-transform: uppercase !important;
            font-size: 16px !important;
            color: $wc-green !important;

            @include transition-ease-in-out();

            &:hover {
                background: $wc-green;
                color: $white !important;
            }

        } // .added_to_cart.wc-forward

        @include breakpoint( xs ) {

            li.product {
                margin: 0 0 ($space-default + $space-default-middle) 0 !important;
                width: 100% !important;
            }

        } // Breakpoint: XS

    } // ul.products


	// BUTTONS //
    a.button, button.button, input.button {
        background-color: $primary !important;
        border-radius: 0 !important;
        color: $white !important;
        font-size: 16px !important;
        padding: 3px 18px !important;
        line-height: 40px !important;
        letter-spacing: 1px !important;

        @include transition-ease-in-out();

		&:hover {
			background-color: $primary-darker !important;
		}

    } // buttons

    .quantity .qty {
        padding: 11px 18px !important;
    }

    .posted_in, .tagged_as {
        display: none;
    }


	// RELATED PRODUCTS //
    .related.products {
        clear: both;
        margin-top: $space-default * 2;
        padding-top: $space-default + $space-default-half;
        border-top: 2px solid $gray-light;

        @include clearfix();

        h2 {
            margin-bottom: $space-default !important;
        }

    } // .related_products

    table.shop_table {
        border: none !important;

        thead {
            border: none !important;
            background: $gray-light;
        }

        tbody {
            border: none !important;
        }

        td {
            padding: 12px !important;
        }

    } // table.cart

    td.actions .coupon .input-text {
        padding: 11px 20px !important;
        width: 160px !important;
    }

    .woocommerce-billing-fields h3, #ship-to-different-address, #order_review_heading  {
        font-weight: 300;
        font-size: 2em;
    }

    #order_review_heading {
        margin-top: $space-default;
    }

    .woocommerce-checkout-payment {
        background-color: $gray-light !important;
        border-radius: 0 !important;
    }

    .payment_methods.methods li {
        list-style-type: none !important;
    }

	span.onsale {
		width: 64px !important;
		height: 64px !important;
		background-color: $wc-red !important;
		font-size: 18px !important;
		line-height: 2.8em !important;
		border: 3px solid darken( $wc-red, 6 );
	}

} // .woocommerce


// CHECKOUT //
.woocommerce-checkout {

    .woocommerce {

        h2, h3 {
            font-weight: 700 !important;
        }

        h3 {
            font-size: 32px !important;
        }

        .col2-set .col-2, .col2-set .col-1 {

            @include breakpoint( med ) {
                width: 100% !important;
                margin: 0 0 ($space-default + $space-default-half) 0 !important;
            }

        } // .col2-set .col-2

    } // .woocommerce

} // .woocommerce-checkout
