//======================//
//  Rena Romano | FORM  //
//======================//

/**
 * Datepicker
 */
.ui-datepicker {
	background: $white !important;
	box-shadow: 0 1px 40px rgba( $primary-dark, 0.4 );
	overflow: hidden;

	.ui-datepicker-header {
		background: $primary;
		color: $white;

		a {
			color: $white;
			text-transform: uppercase;
			font-size: 14px;
			border-bottom: 2px solid $primary-light;
		}

	}

	table {
		margin: 0;
	}

	thead {
		background: $gray-light;
	}

	th {
		font-weight: 700;
	}

	th, td {
		line-height: 1.5;
	}
} // .ui-datepicker
