//=========================//
//  Rena Romano | Widgets  //
//=========================//


// GLOBAL //
.widget {

    .widget-title {
        font-weight: 700;
        font-size: 18px;
		text-transform: uppercase;
		color: $primary-dark;
		cursor: default;
    }

} // .widget

.sidebar {

	.widget {
		// box-shadow: 0 0 40px rgba( $accent-pri, 0.6 );
		box-shadow: 0 0 37px rgba( $accent-pri, 0.08 );
	}

	.widget-title {
		color: $gray;
		padding-bottom: 4px;
		border-bottom: 2px solid $gray-light;
	}
}



// GENESIS CALL TO ACTION //
.gcta-wrap {
	position: relative;
	overflow: hidden;
	margin-bottom: 0 !important;
	padding: 0 !important;

	// text-shadow: 0 0 10px rgba(0,0,0,0.33), 0 1px 4px rgba(0,0,0,0.66);

	// @include breakpoint( med ) {
	// 	padding-right: 0 !important;

	// 	&::before {
	// 		content: '';
	// 		display: block;
	// 		z-index: 0;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		width: 100%;
	// 		height: 100%;
	// 		background: $accent-pri-dark;
	// 		background: radial-gradient( at top left, rgba( $accent-pri-dark, 0.55 ), rgba( $accent-pri-dark, 0.8 ) );
	// 	}
	// }

    @include breakpoint( sm ) {
		padding-top: 40vh !important;
		text-align: center !important;
		background-size: 100vh !important; // 200% !important;
		background-position: 25% 0 !important;
		// background-size: cover !important;
		// text-shadow: 0 0 10px $black, 0 1px 4px $black, 0 0 10px $black;
    }

	.widget-title {
		cursor: default;
		text-transform: none !important;

		strong {
			border-color: $primary !important;
			border-width: 4px !important;
		}

	} // .widget-title

	.widget-title, .gcta-body, button {
		position: relative;
	}

	.gcta-body {
		cursor: default;
		font-weight: 400 !important;
		font-size: 21px !important;
		line-height: 30px !important;
		margin-bottom: 40px !important;
	}

    .gcta-button {
		padding: 10px 26px !important;
		border-radius: 0 !important;
		font-size: 16px !important; //18px !important;
		border: none !important;
		background: $primary !important;

		&:hover {
			background: $accent-mid-dark !important;
		}
    } // .gcta-button

	.modal {
		text-shadow: none !important;
	}

	.modal-footer .button {
		border-radius: 0 !important;

		&:hover {
			background: $primary;
			color: $white;
			border-bottom-color: $primary-dark;
		}

	} // modal footer .button

} // gcta-wrap

.gcta-content {
	position: relative;
	// z-index: 0;
	margin-left: auto;
	padding: 50px 25px;
	max-width: 355px; // 400px;

	&:before, &:after {
		content: '';
		position: absolute;
		top: -500px;
		bottom: -500px;
	}
	&:before {
		// z-index: -1;
		right: 0;
		left: 0;
		background: rgba( $white, 0.9 ); // $white;
	}
	&:after {
		// z-index: -1;
		left: 10px;
		right: 10px;
		border-left: 3px solid #e2e5ec;
		border-right: 3px solid #e2e5ec;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	img {
		display: block;
		margin: 0 auto 30px;
		width: 260px;
	}

	@include breakpoint( sm ) {
		margin: 0 auto;
		max-width: none; // 90%;

		&:before, &:after {
			top: 0;
		}

		img {
			display: none;
		}
	}
}



// HOME - MORE WIDGET AREA //
#home-more {
    @include clearfix();

	text-align: center;

	@include breakpoint( sm ) {
		float: none;
		margin: 0 0 $space-default 0;
		padding: $space-default-half;
		width: 100%;

		.entry-title {
			font-size: 24px;
			margin-bottom: 5px;
		}

		.entry-meta {
			margin-bottom: 14px;
		}

	} // Breakpoint: Sm

	.widget-title {
		// margin-bottom: 2px; // 40px;
		padding: 4px 15px;
		color: $primary-darkest; //$white;
		font-size: 32px;
		// letter-spacing: -1px;
		// word-spacing: 5px;

		text-shadow: 0 3px 37px rgba( $accent-pri, 0.18 );
		text-transform: none;

		@include breakpoint( sm ) {
			font-size: 36px;
		}

		@include breakpoint( xs ) {
			font-size: 30px;
		}

		// &::after {
		// 	content: ' ';
		// 	display: block;
		// 	margin: 10px auto 0 auto;
		// 	width: 250px;
		// 	border-bottom: 2px solid $primary-darker;
		// }

		strong {
			color: $secondary;
		}

	} // .widget-title

    article.type-post {
        float: left;
        width: 32%; // 48.5% for two-columns
        margin-right: 2%;
		text-align: left;
        background: $white;
        min-height: 230px;

		@include breakpoint( lg ) {
			width: 48.5%;
			margin-right: 3%;

			&:nth-child(odd) {
				margin-right: 0;
			}

		} // BP:LG

		@include breakpoint( sm ) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}

        &:last-child {
            margin-right: 0;
        }

        .entry-title {
            font-size: 24px;
            font-weight: 700;
            color: $gray-dark;
        }

        time {
            font-weight: 700;
            color: $gray;
        }

        .entry-content p {
            margin-bottom: 0;
        }

		.more-link {
			display: block;
			margin-top: 25px;
			padding: 3px 10px;
			width: 100px;
			border-radius: 4px;
			background: $primary-dark;
			color: $white;
			font-size: 14px;
			font-weight: 700;
			text-align: center;

			&:hover {
				background: $primary-darker;
			}

		} // .more-link

    } // article.type-post

} // #home-more


// GENESIS SIMPLE SHARE //
.share-after {
	margin: 60px 0 0 0;
}
